<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Logowanie</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<img th:src="@{/images/logo.png}" class="img-responsive center-block" width="150" height="150" alt="Logo" />

<div class="container">
    <div class="row" id="pwd-container">

        <div class="col-md-4"></div>
        <div class="col-md-4">

            <section class="login-form">
                <form th:action="@{/login}" method="post" action="#" role="login">
                    <h1 style ="text-align: center;">Zaloguj się</h1>

                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            Niepoprawna nazwa użytkownika i hasło.
                        </div>
                    </div>
                    <div th:if="${param.logoutWithSuccess}">
                        <div class="alert alert-info">
                           Hasło zostało pomyślnie zmienione i nastąpiło wylogowanie.
                        </div>
                    </div>

                    <div th:if="${param.logout}">
                        <div class="alert alert-info">
                            Zostałeś pomyślnie wylogowany.
                        </div>
                    </div>


                    <input type="text" id="email" name="email" th:placeholder="Email" required class="form-control input-lg" />

                    <input type="password" name="password" class="form-control input-lg" id="password" th:placeholder="Password" />


                    <div class="pwstrength_viewport_progress"></div>

                    <button type="Submit" th:text="Login" name="go" class="btn btn-lg btn-primary btn-block">Sign in</button>

                </form>
            </section>
        </div>

        <div class="col-md-4"></div>


    </div>

</div>
</body>
</html>